{% extends "base.html" %}

{% block heading %}Login{% endblock %}

{% block content %}
    <form class="flex form items-center" action="{% url 'login-key-check' %}" method="post">{% csrf_token %}
        <div class="max-w-lg flex-grow">
            <label for="email" class="block text-sm font-medium text-gray-700">Email</label>

            <div class="flex flex-row mb-2">
                <div class="mt-1 relative rounded-md shadow-sm flex-grow mr-2">
                    <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                        <!-- Heroicon name: solid/mail -->
                        <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                             fill="currentColor" aria-hidden="true">
                            <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"/>
                            <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"/>
                        </svg>
                    </div>
                    <input type="text" name="email" id="email"
                           class="focus:ring-indigo-500 focus:border-indigo-500 block w-full pl-10 sm:text-sm border-gray-300 rounded-md"
                           placeholder="you@example.com">
                </div>

                <button type="submit"
                        class="max-w-lg flex justify-center py-2 px-4 mt-1 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                    Send login email
                </button>
            </div>

            <span class="mt-2 text-sm text-gray-500 font-normal" id="email-description">We'll send you a login link to your email.</span>

            <div class="mt-8 text-sm text-red-600">
                {{ form.non_field_errors }}
            </div>
        </div>
    </form>
{% endblock %}