{% load django_vite %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="icon" type="image/svg+xml" href="{% static "favicon.svg" %}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Open Review</title>
        <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
        {% vite_hmr_client %}
        {% vite_asset 'src/main.ts' %}
        <script src="//unpkg.com/alpinejs" defer></script>
    </head>
    <body>
        <div class="min-h-screen bg-gray-100">
            {% include "_nav.html" %}
            <div class="py-10 max-w-7xl mx-auto">
                {% if messages %}
                    <div class="bg-green-300 py-6 -mt-10 mb-6 font-semibold lg:mx-8 rounded-b-lg">
                        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
                            <ul class="messages">
                                {% for message in messages %}
                                    <li {% if message.tags %}class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
                <header>
                    <div class="px-4 sm:px-6 lg:px-8 flex justify-between items-center">
                        <h1 class="text-3xl font-bold leading-tight text-gray-900 max-w-6xl">
                            {% block heading %}{% endblock %}
                        </h1>
                        {% if current_tab == 'list' %}
                            <div class="mt-4">
                                <form action="{% url 'entry-list' project=current_project.pk %}"
                                      method="get">
                                    <label for="search" class="sr-only">Search</label>
                                    <input type="search"
                                           name="search"
                                           id="search"
                                           class="w-full rounded-lg border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
                                           placeholder="Search"
                                           value="{{ request.GET.search }}">
                                </form>
                            </div>
                        {% endif %}
                    </div>
                    {% if search_term %}
                        <div class="px-4 sm:px-6 lg:px-8">
                            <h2>
                                {{ entry_list.count }} result{{ entry_list|pluralize }} for <span class="font-semibold">{{ search_term }}</span>
                            </h2>
                        </div>
                    {% endif %}
                </header>
                <main>
                    <div class="sm:px-6 lg:px-8">
                        <div class="px-4 py-8 sm:px-0">
                            {% block content_full %}
                                <div class="rounded-lg h-auto bg-white p-8">
                                    {% block content %}{% endblock %}
                                </div>
                            {% endblock %}
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </body>
</html>
