{% extends "base.html" %}
{% load cache %}
{% block heading %}Group entries by answer for {{ current_project.name }}{% endblock %}
{% block content_full %}
    <div class="bg-white p-4 rounded-md mb-6">
        <div class="flex flex-wrap items-center gap-6 px-4 sm:flex-nowrap sm:px-6 lg:px-2">
            <div class="order-last flex flex-col gap-4 w-full gap-x-4 text-sm font-semibold leading-6 sm:order-none sm:w-auto sm:leading-6">
                {% for label in label_key_options %}
                    <a class="{% if group_by == label %}text-indigo-600{% else %}text-gray-700{% endif %} hover:text-indigo-400"
                       href="{% url 'grouped' project=current_project.id %}?group_by={{ label }}">{{ label }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
    {% for group, entries in entry_groups.items %}
        <div x-data="{show: false}" class="mb-8">
            <header>
                <div class="mb-4 flex flex-row justify-between">
                    <h2 class="text-2xl font-bold leading-tight text-gray-900 max-w-6xl">
                        {{ group }}
                        ({{ entries|length }})
                    </h2>
                    <button type="button"
                            class="relative inline-flex h-6 w-11 flex-shrink-0 cursor-pointer rounded-full border-2 border-transparent bg-gray-200 transition-colors duration-200 ease-in-out focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:ring-offset-2"
                            role="switch"
                            aria-checked="false"
                            @click="show = !show"
                            :class="{'bg-indigo-600': show, 'bg-gray-200': !show}">
                        <span class="sr-only">Use setting</span>
                        <span aria-hidden="true"
                              class="pointer-events-none inline-block h-5 w-5 translate-x-0 transform rounded-full bg-white shadow ring-0 transition duration-200 ease-in-out"
                              :class="{'translate-x-5': show, 'translate-x-0': !show}"></span>
                    </button>
                </div>
            </header>
            <div class="bg-white shadow overflow-hidden sm:rounded-md mb-8"
                 x-show="show">
                <ul class="divide-y divide-gray-200">
                    {% for entry in entries %}
                        {% cache 60 entry_staff entry.id %}
                        {% include "web/_entry_group_staff.html" with entry=entry %}
                    {% endcache %}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endfor %}
{% endblock %}
